<p-dialog header="Cambiar contraseña" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="limpiarFormulario()">
    <div class="container">
        <div class="row">                                                   
            <div class="col-sm-12 col-md-6">
                <span class="p-float-label">
                    <p-password class="contra" [(ngModel)]="contrasenia" [feedback]="true" [toggleMask]="false" pTooltip="La contraseña debe contener al menos una mayuscula, una minuscula, un numero y tener mas de 7 caracteres" tooltipPosition="right" ></p-password>
                    <label for="password">Contraseña</label>
                </span>
            </div>
            <div class="col-sm-12 col-md-6">
                <span class="p-float-label">
                    <p-password class="contra" [(ngModel)]="confirmarContrasenia" [feedback]="false" [toggleMask]="false"></p-password>
                    <label for="password">Confirmar Contraseña</label>
                </span>
            </div>   
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4" style="margin-top: 2%;">
                <p-button label="Registrar" [rounded]="true" severity="Confimar" (click)="cambiarContrasenia()"></p-button>        
            </div>
            <div class="col-sm-12 col-md-4">
                
            </div>
        </div>
    </div>
</p-dialog>
<p-toast></p-toast>