<div class="hero"> 
        <p-menubar class="menuSearch" >
        <ng-template pTemplate="start">
            <div class="userInfo">
                <h2>{{ nombreUsuario }}</h2>
                <h4>{{ nombreRol }} | Home</h4>
            </div>
            <div class="contentSerch" [hidden]="idRol != '1'">
                <input type="text" pInputText placeholder="Buscar" class="w-full" [(ngModel)]="buscar"  (keyup.enter)="buscarVideo()"/>
                <div class="divBtnSearch">
                    <p-button class="btnSearch" icon="pi pi-search" severity="info" (click)="buscarVideo()"></p-button>
                </div>
            </div>            

        </ng-template>
        <ng-template pTemplate="end">
        </ng-template>
    </p-menubar>
    
    <div class="row align-items-center">
        <div >
            <p-image src="../../../assets/img/galleria1.jpg" [preview]="true" alt="Image" width="250">
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
            </p-image>
            <p-image src="../../../assets/img/galleria2.jpg" [preview]="true" alt="Image" width="250">
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
            </p-image>
            <p-image src="../../../assets/img/galleria3.jpg" [preview]="true" alt="Image" width="250">
                <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                </ng-template>
            </p-image>
        </div>
        
    </div>
      
      
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
</div>
<p-toast position="bottom-center" key="bc"></p-toast>