  ::ng-deep .p-sidebar-left {
    background: linear-gradient(to left top, #ff8c00 50%, #ff5f6d 50%);
  }

  ::ng-deep .btnSideBar button {
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 30px;
  }
  
  .title {
    margin: 0;
    margin-right: 50%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
  }
  .sub-title{
    margin: 0;
    margin-right: 50%;
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:brown;
  }
  ::ng-deep .btnRutas .p-ripple {
    background-color: transparent !important;
    border: none !important;
    color: inherit !important;
    padding: 0 !important;
  }
  ::ng-deep .btnRutas :hover{
    background-color: #9c5fff97 !important;
    border: none !important;
    color: inherit !important;
    padding: 0 !important;
  }

  .btnCerrarSesion{
    display: flex;
    justify-content: center;
  }

  
.sidebar-toggle-button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}
